.Reviews .container{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.Reviews .card{
    border-color: transparent;
}

.Reviews .card .card-footer{
    background: transparent;
    border: 0;
}